<html> 
<head>
	
<title> I will tell you your fortune </title>
<link rel="stylesheet" type="text/css" href="/Static/THEBESTCSS.css">

</head>

<body id = "bg">
<br>
<br>
<div class="container">
	<h1 contenteditable> I WILL tell you your furtune </h1>

	<p> In a dimly lit sanctuary adorned with ancient relics and flickering candles, I sit as the fortune teller. Clad in flowing robes and adorned with rings that glint in the soft light, my eyes hold the mysteries of past, present, and future, drawing seekers into the realm of prophecy and revelation. </p>

	<a href = "{{url_for('fortune')}}"> Do you want to know your furtune? </a>




</div>
</body>
</html>