<html>


<h1> Sign in -`♡´-</h1>
<form method ='POST' action='/'> 
	<label>ּ ֶָ֢. Email adress: *</label>
	<br>
	<input type="email"  name="email" required>
	<br>
	<label>ּ ֶָ֢. Username: </label>
	<br>
	<input type="text"  name="username" required>
	<br>
	<label>ּ ֶָ֢. Password: * (6 characters at least)</label>
	<br>
	<input type="password"  name="password" minlength="6" required>
	<br>
	<input type="submit" placeholder="submit">
	<br>
</form>
<a href = '/signup'><h5>Don't have an account yet? go here ⸜(｡˃ ᵕ ˂ )⸝♡ </h5></a>


</html>