<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../static/signin.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Signin -`♡´-
         </div>
         <form method="POST" action="/">
            <div class="field">
               <input type="email" name = 'email' required>
               <label>ּ ֶָ֢.Email Address</label>
            </div>
            <div class="field">
               <input type="password" name = 'password' minlength="6" required>
               <label>ּ ֶָ֢.Password</label>
            </div>
            <div class="content">
               <div class="checkbox">
               </div>
               <div class="pass-link">
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Signin">
            </div>
            <div class="signup-link">
               Not a member? <a href="/signup">Signup now ⸜(｡˃ ᵕ ˂ )⸝♡ </a>
            </div>
         </form>
      </div>
   </body>
</html>