<html>


<h1> Sign up ❀</h1>
<form method ='POST' action='/signup'> 
	<label>  ֶָ֢   Email adress: *</label>
	<br>
	<input type="email"  name="email" required>
	<br>
	<label>  ֶָ֢  Username: </label>
	<br>
	<input type="text"  name="username" required>
	<br>
	<label>  ֶָ֢   Password: * (6 characters at least)</label>
	<br>
	<input type="password"  name="password" minlength="6" required>
	<br>
	<input type="submit" placeholder="submit">
</form>

<a href = '/'><h5>Have an account? go here ˃ᴗ˂ </h5></a>


</html>