<html> 
<!-- add the menu on top -->
<form method="POST" action="/today">
<h1>How was your day? ☼ </h1>
<h4><label> Mood /ᐠ > ˕ <マ ₊˚⊹♡</label></h4>
<input type="radio" name = "mood" id="happy" value="happy"> 
<label for = "happy">Happy</label>
<input type="radio" name = "mood" id= "energetic"value="energetic"> 
<label for = "happy">Energetic</label>
<input type="radio" name = "mood" id = "sad" value="sad"> 
<label for = "happy">Sad</label>
<br> 
<h4><label>Hobbies: (｡ᴖ ⤙ ᴖ)</label></h4>
<input type="radio" name = "hobbies" id = "gym" value="gym"> 
<label for = "happy">Gym</label>
<input type="radio" name = "hobbies" id = "painting" value="painting"> 
<label for = "happy">Painting</label>
<input type="radio" name = "hobbies" id = "football" value="football"> 
<label for = "happy">Football</label>
<input type="radio" name = "hobbies" id = "none" value="none"> 
<label for = "happy">None</label>
<br>
<h4><label>Other: ₊ ⊹</label></h4>
<input type="radio" name = "other" id = "travel" value="travel">
<label for = "happy">Travel</label>
<input type="radio" name = "other" id = "disease" value="disease"> 
<label for = "disease">Disease/Injury</label>
<input type="radio" name = "other" id = "journaling" value="journaling">
<label for = "happy">Journaling</label>
<input type="radio" name = "other" id = "none" value="none"> 
<label for = "happy">None</label>
<br> 
</form>
</html>