<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/todayNav.css">
</head>
<body>
	<!-- Navigation bar -->
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="/yesterday">Yesturday</a></li>
      <li class="center"><a href="/tomorrow">Tomorrow</a></li>
     </ul>
  </div>
<!--tomorrow -->
<br> 
<br>
<br>
<br>
<br>
<br>
<h1>You can't know the future ;)</h1>
<br>
<button onclick ="window.location.href = '/signout' ;">Sign out</button>
</body>
</html>