<html>
<form method ='POST' action='/'> 

	<h2> Welcome to the best site ever </h2>
	<p> If you don't have an account - please sign up here: </p>
	<label>Email adress: *</label>
	<br>
	<input type="email"  name="email" required>
	<br>
	<label> Password * (6 characters at least)</label>
	<br>
	<input type="password"  name="password" minlength="6" required>
	<br>
	<input type = 'text' name = 'fullName' placeholder = "What's your full name?">
	<br> 
	<input type = 'text' name = 'username' placeholder="What's your username?">
	<br>
	<input type="submit" placeholder="submit">
	<br>
</form>

<a href = '/signin'> Already have an account? Sign in here.</a>


</html>